Repository gzukas/shadowave: changes, and which lint-staged commands are due for each by the changed paths.
All: turbo run lint -- --fix --no-warn-ignored, prettier --write

fix: PR workflow
  .github/workflows/pr.yml
Due: none

chore: optimize screenshots
  apps/api/package.json
  apps/api/src/routes/screenshots.ts
  turbo.json
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

fix(api): try different bun outfile
  apps/api/package.json
Due: none

fix(api): undo outfile
  apps/api/package.json
Due: none

feat: dockerize api
  .dockerignore
  .github/workflows/publish-api.yml
  .puppeteerrc.cjs
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/src/bun-env.d.ts
  apps/api/src/index.ts
  apps/api/src/routes/screenshots.ts
  bun.lock
  docker-compose.yaml
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

feat: TLS
  apps/api/Dockerfile
  apps/api/src/bun-env.d.ts
  apps/api/src/index.ts
  apps/api/src/routes/screenshots.ts
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

refactor: cleanup screenshots route
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/routes/screenshots.ts
  apps/api/src/routes/screenshots/index.ts
  apps/api/src/routes/screenshots/takeScreenshots.ts
  bun.lock
  docker-compose.yaml
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

fix: validation errors on prod
  apps/api/src/index.ts
  apps/web/src/components/ImportImages.tsx
  apps/web/src/utils/client.ts
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

feat: persist wave function
  apps/web/src/atoms/waveFunctionAtom.ts
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

chore: minor workflow fixes
  .github/workflows/docker-api.yml
  .github/workflows/pr.yml
Due: none

deps: bump
  apps/api/package.json
  apps/web/package.json
  bun.lock
  package.json
  packages/eslint-config/package.json
  packages/schema/package.json
  packages/ui/package.json
Due: none

deps: start migrating to tailwind 4
  apps/web/package.json
  apps/web/postcss.config.mjs
  bun.lock
Due: none

deps: migrating to tailwind 4 #2
  bun.lock
  packages/ui/package.json
  packages/ui/src/components/button.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/components/slider.tsx
  packages/ui/src/components/toggle.tsx
  packages/ui/src/styles/globals.css
  packages/ui/tailwind.config.ts
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

deps: migrating to tailwind 4 #3
  .npmrc
  apps/api/package.json
  apps/web/package.json
  apps/web/src/atoms/areImagesReversedAtom.ts
  apps/web/src/components/AtomSlider.tsx
  apps/web/src/components/ChangeWaveFunction.tsx
  apps/web/src/components/ChooseFiles.tsx
  apps/web/src/components/CopyImage.tsx
  apps/web/src/components/Editor.tsx
  apps/web/src/components/ExportImage.tsx
  apps/web/src/components/Graphics.tsx
  apps/web/src/components/ImportImages.tsx
  apps/web/src/components/OptimizeWaveform.tsx
  apps/web/src/components/RemoveImages.tsx
  apps/web/src/components/ReverseImages.tsx
  apps/web/src/components/Waveform.tsx
  apps/web/src/utils/__tests__/atomWIthToggleAndStorage.test.ts
  apps/web/src/utils/atomWithToggle.ts
  apps/web/src/utils/atomWithToggleAndStorage.ts
  apps/web/tailwind.config.ts
  apps/web/vite.config.ts
  bun.lock
  package.json
  packages/eslint-config/package.json
  packages/ui/package.json
  packages/ui/src/components/alert-dialog.tsx
  packages/ui/src/components/aspect-ratio.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/form.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/components/label.tsx
  packages/ui/src/components/separator.tsx
  packages/ui/src/components/skeleton.tsx
  packages/ui/src/components/slider.tsx
  packages/ui/src/components/toggle-group.tsx
  packages/ui/src/components/toggle.tsx
  packages/ui/src/components/tooltip.tsx
  packages/ui/src/styles/globals.css
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

chore: remove unused @lingui/macro dep
  apps/web/package.json
  bun.lock
Due: none

fix: react eslint preset type
  packages/eslint-config/react.mjs
Due: none

fix: close chrome page on throw
  apps/api/src/routes/screenshots/index.ts
  apps/api/src/routes/screenshots/takeScreenshots.ts
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

feat: redesign
  apps/web/index.html
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/atoms/importAtoms.ts
  apps/web/src/atoms/largestImageAtom.ts
  apps/web/src/atoms/localeAtom.ts
  apps/web/src/atoms/localeAtoms.ts
  apps/web/src/atoms/waveAtom.ts
  apps/web/src/atoms/waveformAtoms.ts
  apps/web/src/components/AppProvider.tsx
  apps/web/src/components/AtomSlider.tsx
  apps/web/src/components/ChangeTheme.tsx
  apps/web/src/components/ChangeWaveFunction.tsx
  apps/web/src/components/ChooseFiles.tsx
  apps/web/src/components/CopyImage.tsx
  apps/web/src/components/Editor.tsx
  apps/web/src/components/ExportImage.tsx
  apps/web/src/components/Graphics.tsx
  apps/web/src/components/I18nProvider.tsx
  apps/web/src/components/ImportImages.tsx
  apps/web/src/components/NoImages.tsx
  apps/web/src/components/OptimizeWaveform.tsx
  apps/web/src/components/SeeExample.tsx
  apps/web/src/components/Shortcut.tsx
  apps/web/src/components/Waveform.tsx
  apps/web/src/constants.ts
  apps/web/src/utils/createCountReducer.ts
  apps/web/src/utils/createGraphIcon.ts
  apps/web/src/utils/reducerAtom.ts
  bun.lock
  package.json
  packages/eslint-config/package.json
  packages/schema/package.json
  packages/ui/package.json
  packages/ui/src/components/aspect-ratio.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/separator.tsx
  packages/ui/src/components/slider.tsx
  packages/ui/src/styles/globals.css
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

fix: reinstall
  bun.lock
Due: none

fix: extract messages
  apps/web/src/locales/en.po
  apps/web/src/locales/en.ts
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

fix: ChangeWaveFunction a11y
  apps/web/public/robots.txt
  apps/web/src/components/ChangeWaveFunction.tsx
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

test: some tests
  apps/web/src/components/ExportImage.tsx
  apps/web/src/components/Graphics.tsx
  apps/web/src/utils/__tests__/createAbortablePromise.test.ts
  apps/web/src/utils/__tests__/createCountReducer.test.ts
  apps/web/src/utils/__tests__/reducerAtom.test.ts
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

refactor: simplify atom slider + tests
  apps/web/package.json
  apps/web/src/atoms/themeAtom.ts
  apps/web/src/atoms/themeAtoms.ts
  apps/web/src/atoms/waveformAtoms.ts
  apps/web/src/components/AtomSlider.tsx
  apps/web/src/components/ChangeTheme.tsx
  apps/web/src/components/ChooseFiles.tsx
  apps/web/src/components/Graphics.tsx
  apps/web/src/components/LoadableIcon.tsx
  apps/web/src/components/Shortcut.tsx
  apps/web/src/components/Waveform.tsx
  apps/web/src/components/__tests__/AtomSlider.test.tsx
  apps/web/src/components/__tests__/ChangeTheme.test.tsx
  apps/web/src/components/__tests__/Shortcut.test.tsx
  apps/web/src/hooks/useTheme.ts
  apps/web/src/testing/setupTests.ts
  apps/web/src/utils/__tests__/createCountReducer.test.ts
  apps/web/src/utils/__tests__/reducerAtom.test.ts
  apps/web/src/utils/createCountReducer.ts
  apps/web/src/utils/reducerAtom.ts
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  bun.lock
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

chore: minor tweaks
  apps/web/src/App.tsx
  apps/web/src/components/ImportImages.tsx
  apps/web/src/components/NoImages.tsx
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

chore: weekly polish
  apps/web/index.html
  apps/web/src/App.tsx
  apps/web/src/atoms/waveAtom.ts
  apps/web/src/atoms/waveFunctionAtom.ts
  apps/web/src/components/AtomSlider.tsx
  apps/web/src/components/ChangeWaveFunction.tsx
  apps/web/src/components/CopyImage.tsx
  apps/web/src/components/Cos.tsx
  apps/web/src/components/ExportImage.tsx
  apps/web/src/components/Graphics.tsx
  apps/web/src/components/Heartbeat.tsx
  apps/web/src/components/ImportImages.tsx
  apps/web/src/components/NoImages.tsx
  apps/web/src/components/Shortcut/Shortcut.tsx
  apps/web/src/components/Shortcut/__tests__/Shortcut.test.tsx
  apps/web/src/components/Shortcut/keyDisplayMappings.ts
  apps/web/src/components/Sin.tsx
  apps/web/src/constants.ts
  apps/web/src/utils/waveFunctions.ts
  packages/ui/src/styles/globals.css
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

fix: messages
  apps/web/src/locales/en.po
  apps/web/src/locales/en.ts
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

docs: improve readme a bit
  README.md
  media/header.png
Due: prettier --write

chore: readme
  README.md
  apps/web/public/favicon.svg
Due: prettier --write

deps: bump
  apps/api/package.json
  apps/web/package.json
  bun.lock
  package.json
  packages/eslint-config/package.json
  packages/ui/package.json
Due: none

chore: minor cleanups
  apps/web/src/atoms/importAtoms.ts
  apps/web/src/atoms/waveAtom.ts
  apps/web/src/components/AtomSlider.tsx
  apps/web/src/components/CopyImage.tsx
  apps/web/src/hooks/useClipboard.ts
  apps/web/src/utils/rasterize.ts
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

test: LoadableIcon
  apps/web/src/components/__tests__/LoadableIcon.test.tsx
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

feat: graphics glow
  apps/web/src/App.tsx
  apps/web/src/components/Glow.tsx
  apps/web/src/components/Graphics.tsx
  packages/ui/src/styles/globals.css
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

chore: postcss cleanup
  apps/web/package.json
  apps/web/postcss.config.mjs
  bun.lock
  packages/ui/package.json
Due: none

chore: weekly polish
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/atoms/areImagesReversedAtom.ts
  apps/web/src/atoms/imagesAtom.ts
  apps/web/src/atoms/importAtoms.ts
  apps/web/src/atoms/waveAtom.ts
  apps/web/src/atoms/waveFunctionAtom.ts
  apps/web/src/atoms/waveformAtoms.ts
  apps/web/src/components/ChangeWaveFunction.tsx
  apps/web/src/components/Graphics.tsx
  apps/web/src/components/OptimizeWaveform.tsx
  apps/web/src/components/RemoveImages.tsx
  apps/web/src/icons/Heartbeat.tsx
  apps/web/src/icons/Sin.tsx
  apps/web/src/utils/__tests__/withStorageValidator.test.ts
  apps/web/src/utils/atomWithToggleAndStorage.ts
  apps/web/src/utils/createIdbKeyvalStorage.ts
  apps/web/src/utils/createIndexedDbStorage.ts
  apps/web/src/utils/readFile.ts
  apps/web/src/utils/withStorageValidator.ts
  bun.lock
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

deps: update shadcn components
  apps/web/package.json
  bun.lock
  package.json
  packages/eslint-config/package.json
  packages/schema/package.json
  packages/ui/package.json
  packages/ui/src/components/alert-dialog.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/form.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/components/label.tsx
  packages/ui/src/components/separator.tsx
  packages/ui/src/components/skeleton.tsx
  packages/ui/src/components/toggle-group.tsx
  packages/ui/src/components/toggle.tsx
  packages/ui/src/components/tooltip.tsx
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

docs: document some things
  apps/web/public/favicon.svg
  apps/web/src/App.tsx
  apps/web/src/utils/atomWithExpire.ts
  apps/web/src/utils/atomWithExpiringWriteState.ts
  apps/web/src/utils/atomWithToggleAndStorage.ts
  apps/web/src/utils/client.ts
  apps/web/src/utils/createAbortablePromise.ts
  apps/web/src/utils/createGraphIcon.ts
  apps/web/src/utils/loadImage.ts
  apps/web/src/utils/rasterize.ts
  apps/web/src/utils/readFile.ts
  apps/web/src/utils/waveFunctions.ts
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

deps: bump
  apps/web/components.json
  apps/web/package.json
  bun.lock
  package.json
  packages/eslint-config/package.json
  packages/schema/package.json
  packages/ui/components.json
  packages/ui/package.json
  packages/ui/src/components/separator.tsx
  packages/ui/src/styles/globals.css
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

chore: bump deps, some tests, and comments
  apps/api/package.json
  apps/web/package.json
  apps/web/src/hooks/__tests__/useExpireAtom.test.ts
  apps/web/src/hooks/useClipboard.ts
  apps/web/src/hooks/useExpireAtom.ts
  apps/web/src/main.tsx
  apps/web/src/utils/__tests__/createGraphIcon.test.tsx
  apps/web/src/utils/createGraphIcon.ts
  bun.lock
  package.json
  packages/eslint-config/package.json
  packages/schema/package.json
  packages/ui/package.json
Due: turbo run lint -- --fix --no-warn-ignored, prettier --write

Path conditions:
  turbo run lint -- --fix --no-warn-ignored: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,md}
